public/html/blog/ember_usage.html
<!DOCTYPE html>
<html>
  <head>
    <title>王小王</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../public/css/default.css">
  </head>
  <body>
    <div class="content">
      <div class="title">ember 优化尝试</div>
      <div class="content">
        <table>
          <tbody>
            <tr>
              <td>生成组件</td>
              <td>
                <div class="list">
                  <div class="atom">ember g component component-name</div>
                  <div class="atom">ember test 报错： ember component test undefined is not an object</div>
                  <div class="atom">assert.equal()  //会报错</div>
                  <div class="atom">this.render() //会报错   －  替换成this.$()  －－－－具体原因不知道</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>组件测试</td>
              <td>
                <div class="list">
                  <div class="atom">ember components attributeBindings : [property name] 必加, 加上才能在tests中通过this.$().attr(property_name) 获取对应的值</div>
                  <div class="atom">ember-qunit test 例子<a href="https://guides.emberjs.com/v1.10.0/testing/testing-components/">https://guides.emberjs.com/v1.10.0/testing/testing-components/</a></div>
                </div>
              </td>
            </tr>
            <tr>
              <td>controller 测试</td>
              <td>
                <div class="list">
                  <div class="atom">ember controller test</div>
                  <div class="atom">controller/my_controller/a.js</div>
                  <div class="atom">ModuleFor("controller:"{})</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>ember component tagName</td>
              <td>
                <div class="list">
                  <div class="atom">在template使用component时，会默认将component包起来, 可以通过tagName 设置成指定的
                    <div class="step">eg：tagName: ""</div>
                    <div class="step">tagName: "wrapper"</div>
                  </div>
                  <div class="atom">如果tagName 为空时 this.$() 应该是拿不到当前元素的</div>
                  <div class="atom">个人理解：  tagName 相当于设置了一个域，类似namespace,  如果为空时，就相当于去掉了作用于，尤其是在一些页面里面需要反复使用同一个组件，但是又使用别的前端框架，不希望component又包一层</div>
                  <div class="atom">解决思路： tagName： 不需要置为空 //确保每个component都有自己的作用域名, classNames: 设置 //可用数组 eg. classNames: ["a", "b"]</div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
<div class="foot">
  <div>This is foot</div>
</div>

src/jade/blog/ember_usage.jade
extends ../layout/layout

block content
  .title ember 优化尝试
  .content
    table
      tbody
        tr
          td 生成组件
          td
            .list
              .atom ember g component component-name
              .atom ember test 报错： ember component test undefined is not an object
              .atom assert.equal()  //会报错
              .atom this.render() //会报错   －  替换成this.$()  －－－－具体原因不知道
        tr
          td 组件测试
          td
            .list
              .atom ember components attributeBindings : [property name] 必加, 加上才能在tests中通过this.$().attr(property_name) 获取对应的值
              .atom ember-qunit test 例子
                a(href="https://guides.emberjs.com/v1.10.0/testing/testing-components/") https://guides.emberjs.com/v1.10.0/testing/testing-components/
        tr
          td controller 测试
          td
            .list
              .atom ember controller test
              .atom controller/my_controller/a.js
              .atom ModuleFor("controller:"{})
        tr
          td ember component tagName
          td
            .list
              .atom 在template使用component时，会默认将component包起来, 可以通过tagName 设置成指定的
                .step eg：tagName: ""
                .step tagName: "wrapper"
              .atom 如果tagName 为空时 this.$() 应该是拿不到当前元素的
              .atom 个人理解：  tagName 相当于设置了一个域，类似namespace,  如果为空时，就相当于去掉了作用于，尤其是在一些页面里面需要反复使用同一个组件，但是又使用别的前端框架，不希望component又包一层
              .atom 解决思路： tagName： 不需要置为空 //确保每个component都有自己的作用域名, classNames: 设置 //可用数组 eg. classNames: ["a", "b"]
