public/html/blog/install.html
<!DOCTYPE html>
<html>
  <head>
    <title>王小王</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../public/css/default.css">
  </head>
  <body>
    <div class="content">
      <div class="title">安装</div>
      <div class="content">
        <table>
          <tbody>
            <tr>
              <td>ffmpeg 安装</td>
              <td>
                <div class="list">
                  <div class="atom">官网: git clone git://source.ffmpeg.org/ffmpeg.git ffmpeg</div>
                  <div class="atom">cd ffmpeg && ./configure && make & make install</div>
                  <div class="atom">如果需要: sudo apt-get yasm</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>mac 下go的安装</td>
              <td>
                <div class="list">
                  <div class="atom">1. https://golang.org下载</div>
                  <div class="atom">2. 设置gopath</div>
                  <div class="atom">go run 执行程序  go build(需要看一下它们两个的区别)</div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
<div class="foot">
  <div>This is foot</div>
</div>

src/jade/blog/install.jade
extends ../layout/layout

block content
  .title 安装
  .content
    table
      tbody
        tr
          td ffmpeg 安装
          td
            .list
              .atom 官网: git clone git://source.ffmpeg.org/ffmpeg.git ffmpeg
              .atom cd ffmpeg && ./configure && make & make install
              .atom 如果需要: sudo apt-get yasm
        tr
          td mac 下go的安装
          td
            .list
              .atom 1. https://golang.org下载
              .atom 2. 设置gopath
              .atom go run 执行程序  go build(需要看一下它们两个的区别)
