src/jade/blog/time_parse.jade
extends ../layout/layout

block content
  .title time parse
  .content
    table
      tbody
        tr
          td(colaspe="2") javascript moment 时间转换
        tr
          td moment获取星期
          td
            .list
              .atom moment().isoWeekday() // get week num
              .atom moment().format("d") // get week num string - 1
              .atom moment().format("dd") // get week num string - Tu
              .atom moment().format("ddd") // Mon
        tr
          td 本周开始日期－结束日期
          td
            .list
              .atom moment().weekday(0)
              .atom moment().day("Sunday")
              .atom moment().weekday(6)
        tr
          td 语言切换
          td moment().locale("en/zh-cn").format()

public/html/blog/time_parse.html
<!DOCTYPE html>
<html>
  <head>
    <title>王小王</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../public/css/default.css">
  </head>
  <body>
    <div class="content">
      <div class="title">time parse</div>
      <div class="content">
        <table>
          <tbody>
            <tr>
              <td colaspe="2">javascript moment 时间转换</td>
            </tr>
            <tr>
              <td>moment获取星期</td>
              <td>
                <div class="list">
                  <div class="atom">moment().isoWeekday() // get week num</div>
                  <div class="atom">moment().format("d") // get week num string - 1</div>
                  <div class="atom">moment().format("dd") // get week num string - Tu</div>
                  <div class="atom">moment().format("ddd") // Mon</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>本周开始日期－结束日期</td>
              <td>
                <div class="list">
                  <div class="atom">moment().weekday(0)</div>
                  <div class="atom">moment().day("Sunday")</div>
                  <div class="atom">moment().weekday(6)</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>语言切换</td>
              <td>moment().locale("en/zh-cn").format()</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
<div class="foot">
  <div>This is foot</div>
</div>
